/java/core/.settings
/java/core/.classpath
/java/core/.project
/java/examples/quickstart-client/.settings
/java/examples/quickstart-client/.project
/java/examples/quickstart-client/.classpath
/java/examples/quickstart-server/.settings
/java/examples/quickstart-server/.project
/java/examples/quickstart-server/.classpath
/java/net/.settings
/java/net/.project
/java/net/.classpath
/java/tools/tars-maven-plugin/.settings
/java/tools/tars-maven-plugin/.project
/java/tools/tars-maven-plugin/.classpath
/java/core/target
/java/examples/quickstart-client/target
/java/examples/quickstart-server/target
/java/net/target
/java/tools/tars-maven-plugin/target
/java/examples/stress-server/.classpath
/java/examples/stress-server/.project
/java/examples/stress-server/.settings
/java/examples/stress-server/target
/java/.project
/java/.settings/org.eclipse.m2e.core.prefs
/java/examples/.project
/java/examples/.settings/org.eclipse.m2e.core.prefs
/java/tools/.project
/java/tools/.settings/org.eclipse.m2e.core.prefs

/php/.idea/*
.idea/*

