<?xml version="1.0" encoding="UTF-8"?>
<!--
 Tencent is pleased to support the open source community by making Tars available.

 Copyright (C) 2016 THL A29 Limited, a Tencent company. All rights reserved.

 Licensed under the BSD 3-Clause License (the "License"); you may not use this file except
 in compliance with the License. You may obtain a copy of the License at

 https://opensource.org/licenses/BSD-3-Clause

 Unless required by applicable law or agreed to in writing, software distributed
 under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
 CONDITIONS OF ANY KIND, either express or implied. See the License for the
 specific language governing permissions and limitations under the License.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qq.tars.db.AdapterMapper">

    <insert id="insertAdapterConf" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_tars.t_adapter_conf
        (
            application, server_name, node_name, adapter_name, thread_num, endpoint, max_connections, allow_ip, servant,
            queuecap, queuetimeout, posttime, lastuser, protocol, handlegroup
        )
        VALUES
            (
                #{application},
                #{serverName},
                #{nodeName},
                #{adapterName},
                #{threadNum},
                #{endpoint},
                #{maxConnections},
                #{allowIp},
                #{servant},
                #{queuecap},
                #{queuetimeout},
                #{posttime},
                #{lastuser},
                #{protocol},
                #{handlegroup}
            )
    </insert>


    <update id="updateAdapterConf">
        UPDATE
        db_tars.t_adapter_conf
        SET
        adapter_name    = #{adapterName},
        thread_num      = #{threadNum},
        servant         = #{servant},
        endpoint        = #{endpoint},
        max_connections = #{maxConnections},
        queuecap        = #{queuecap},
        queuetimeout    = #{queuetimeout},
        handlegroup     = #{handlegroup},
        allow_ip        = #{allowIp},
        protocol        = #{protocol}
        WHERE
        id = #{id}
    </update>

    <delete id="deleteAdapterConf">
        DELETE FROM db_tars.t_adapter_conf
        WHERE id = #{id}
    </delete>

    <select id="getAdapterConf" resultType="AdapterConf">
        SELECT *
        FROM db_tars.t_adapter_conf
        WHERE
            application = #{application}
            AND server_name = #{serverName}
            AND node_name = #{nodeName}
    </select>

    <select id="loadAdapterConf" resultType="AdapterConf">
        SELECT *
        FROM db_tars.t_adapter_conf
        WHERE
            id = #{id}
    </select>

    <select id="loadAdapterConfByObj" resultType="AdapterConf">
        SELECT *
        FROM db_tars.t_adapter_conf
        WHERE
        application = #{application}
        AND server_name = #{serverName}
        AND node_name = #{nodeName}
        AND adapter_name = concat(application, '.', server_name, '.', #{objName}, 'Adapter')
    </select>
    
    <select id="getAdapterList" resultType="Map">
        SELECT distinct  servant
        FROM db_tars.t_adapter_conf
        WHERE
        application = #{application}
        AND server_name = #{serverName}
    </select>
</mapper>